[submodule "operator-sdk"]
	path = operator-sdk
	url = https://github.com/operator-framework/operator-sdk.git
	branch = v1.37.x
[submodule "kustomize"]
	path = kustomize
	url = https://github.com/kubernetes-sigs/kustomize.git
	branch = release-kustomize-v5.4.3
